
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

*{
	box-sizing: border-box;
}
header {
	z-index: 20 !important;
}
.active{
	text-decoration: underline;
}
.test-container{
	padding-top: 100px;
	margin:0 auto;
	
}
#product-section{
	min-height: 500px;
}
.product-holder{
	display: flex;
	justify-content: center;
	margin:0 auto;
	margin-left: 200px;
	max-width: 90%;

}
.img-holder{
	display: flex;
	margin-top: 50px;


}
.small-images{
	display: flex;
	flex-flow: column;
	
}
.small-img{
	height: 120px;
	border: 2px solid #DDBFBD;
	border-radius: 5%;
	margin:5px;
	margin-right: 40px;
}

.main-img{
	margin-top:5px;
	height: auto;
	border: 2px solid #DDBFBD;
	border-radius: 5%;
	margin-right: 40px;
	min-width: 300px;
	width: 70%;

}

.txt-holder{
	margin-left: 10px;
	

}
.txt-holder h1{
	font-size: 45px;
	text-transform: uppercase;




}
.txt-holder p, .test-container ul li {
	margin-top: 25px;
	font-size: 20px;

}
.test-container ul li{
	width: 40%;
}
.test-container ul {

}
.txt-holder .main-p{
	width: 60%;

}
.txt-holder .main-p, .test-container ul li{
	min-width: 200px;
}
.boxy{
	align-items: center;
}
.boxy-text{
	border: 2px solid #DDBFBD;
	border-radius: 15%;
	width: 30px;
	height: 30px;
	text-align: center;
	align-self: center;
	margin:15px 0px;
	line-height: 30px;
}
.add-btn-holder{
	padding-top: 15px;
	margin:0 auto;
}
.add-btn{
	color: #fff;
    padding: 10px 15px;
    background-color: #DDBFBD;;
     border: 1px solid #DDBFBD;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 300;
}
.add-btn:hover{
	background-color: #fff;
	color: #DDBFBD;
}

.txt-holder ul li {
	list-style-type: circle;

	
}

#you-may-also-like{
	margin-top: 50px;
	min-height: 400px;
	background-color: rgba(221, 191, 189, 0.3);
	width: 100%;


}
.item-container{
	display: flex;
	justify-content: center;
	padding-bottom: 50px;



}
.items-heading{
	font-size: 38px;
	text-align: center;
	text-transform: uppercase;
	padding: 35px 0px;
}	
.item{
	border: 2px solid #DDBFBD;
	border-radius: 5%;
	width: 30%;
	min-width: 150px;
	max-height: 450px;
	margin-top: 15px;
	background-color: #fff !important; 
	text-align: center;
	margin:0px 10px;


}
.item:hover{
	border: 6px solid #DDBFBD;

}
.item h1{
	padding-top:15px;
	text-transform: uppercase;
	width: 20%;
	position: relative;
	left: 50%;
	transform: translate(-50%,0%);
}
.card-img-container{
	height: 250px;
}
.card-image{
	height: auto;
	max-height: 260px;
	width: 80%;

}
.small-add-btn-holder{

	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.small-add-btn{
	color: #fff;
    padding: 10px 15px;
    background-color: #DDBFBD;
     border: 2px solid #DDBFBD;
    border-radius: 25px;
    font-size: 16px;
    text-transform: uppercase;
   
  }

.item:hover  .small-add-btn{
	background-color: #fff;
	color: #DDBFBD;
}
.small-add-btn:hover{
	background-color: #DDBFBD;
	color: #fff;
}
@media only screen and (max-width: 1150px) {
	.img-holder{
		position: relative;
		right: 20%;
	}
	.txt-holder{
		position: relative;
		right: 15%;

	}
	
}

@media only screen and (max-width: 768px) {
   .txt-holder{
   	position: static;
   	margin:0 auto;
   }
   .heading-container{
  	position: absolute;
  	top:100px;
  	left: 50%;
  	transform:translate(-50%,0%);
  	width: 100%;
   }

	.small-img{
		margin: -5px;
	}
	.txt-holder ul{
		margin:0 auto;
		text-align: left;
	}
   .txt-holder .main-p, .txt-holder ul li  {
   	width: 100% !important;

   }
   .boxy{
   	display: flex;
   	justify-content: center;
   }

   .img-holder{
   	flex-direction: column-reverse;
   	position: static;
   	padding-top: 100px;

   }
   .small-images{
   	flex-direction: row;
   	padding-top: 30px;
   	justify-content: center;


   }
   .small-img{
   	display: flex;
   	margin: 5px;
   	width: 25%;
   	height: 200px;
  
 
   }
 .main-img{
   	margin:0 auto;


   }
   .main-img{
   	width: 80%;
   	height: auto;
   }
   .product-holder{
   	flex-direction: column;
   	align-items: center;
   	justify-content: center;
   	margin:0 auto;
   	text-align: center;
   

   }
  
    .item-container{
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
    	margin: 0 auto;
    	width: 100%;
    }
    .item{
    	margin-top: 15px;
    	width: 70%;
    	height: 400px;
    }
    .txt-holder h1{
    	padding-top: 40px;

    	

    }
   
}
@media only screen and (max-width: 480px){
	.item{
		width: 90%;
	}
}
