/* ================================= 
  Base Styles
==================================== */

/* Typical body elements */
* {
    box-sizing: border-box;
    /* Undirlína ofl teknir af links */
    text-decoration: none;
}

/* Font family yfir allar síður */
body {
    font-family: 'Rubik', sans-serif;
}

.front-page {
    background-image: url(../img/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Texti í forsíðumynd og shop now hnappur */

.title-button {
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
}
.btn-holder-front {
    margin: 0 auto;
}
.btn-holder-front .btn{
    color: #fff;
    padding: 10px 25px;
    background-color: #5D9699;
    border:3px solid #5D9699;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 300;
}
.btn-holder-front .btn:hover{
    background-color: #fff !important;
    color: #5D9699;
    background-color: #fff;
    border:3px solid #5D9699;
}

/* Heading texti í forsíðumynd mynd */
 h1.front-title-text{
    text-transform: uppercase;
    font-weight: 300;
    line-height: 120px;
    font-size: 64px;
    text-align: center;
    color: #363636;
    margin-bottom: 20px;
}

/* Almennt fyrir h2 */
h2.h2-centered,
h2.h2-normal {
    font-style: normal;
    font-weight: 300;
    line-height: 94px;
    font-size: 50px;
    color: #000000;
}

h2.h2-centered {
    text-align: center;
    padding: 63px 0 59px;
}

h2.h2-normal {
    padding: 0 0 59px;
}

/* Bil sett svo texti klessist ekki við mynd */ 
.second {
    padding-left: 120px;
}

/* Texti á forsíðu */
.info-text {
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    font-size: 24px;
    max-width: 350px;
    margin: -20px 0 90px;
    color: #000000;
}

/* Bleikur takkarnir stórir  */
.btn-holder{
    margin:0 auto;
}
.btn-holder .btn{
    color: #fff;
    padding: 10px 15px;
    background-color: #DDBFBD;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 300;
    border:3px solid #DDBFBD;
}
.btn-holder .btn:hover{
    background-color: #fff !important;
    color: #DDBFBD;


    border:3px solid #DDBFBD;
}
/*Grænu takkarnir stórir */

.btn-holder-green .btn-green{
    color: #fff;
    padding: 10px 15px;
    background-color: #5D9699;
    border: 3px solid #5D9699;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 300;
}
.btn-holder-green .btn-green:hover{
    background-color: white;
    color: #5D9699;
}

 /* Stillingar á vöruglugga */
.vara {
    padding-top: 20px;  /* Svo vörurnar klessist ekki við rammann á top */
    border: 3px solid #C2A2A0;
    box-sizing: border-box;
    border-radius: 20px;
}

.vara:hover {
    padding-top: 16px; /* Stoppar hökt í innihaldi þegar hoverað er yfir */
    border: 7px solid #C2A2A0;
}

.vara-text,
.vara-price {
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.vara-price {
    font-weight: normal;
    margin-bottom: 40px;
}

.info {
   /* veit ekki hvað þetta á að gera  width: 43%; */
}

/* Bilið á milli vara og infoglugga */ 
.other-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* myndir í info gluggum */
.first {
    background-image: url(../img/plastics.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.fourth {
    background-image: url(../img/bakan.jpg);
      background-size: contain;
    background-repeat: no-repeat;
}

/* paragraph textinn í info gluggum */
p.info-text {
    font-size: 30px;
}


/* Vörum skipt niður í flex */
.voru-content-duo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


}

/* Stillingar á myndum í ramma */
.vara-mynd {
    align-self: center; /* kemur í veg fyrir að myndit "strekkist" */
    height: 300px; /* Myndir voru of stórar */
    margin-bottom: 30px; /* Ýta takka aðeins frá verðinu */
    outline: none;
}

/* Safn af vörum með verðmiða */
.voru-content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-self: center;
    margin: auto;
    justify-content: center;
}

.vara-texti {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    justify-content: center;
    max-width: 1400px;
}
.test{
    margin:0 auto;
}

/* About mynd */
.about-dummy {
    background-image: url(../img/about_dummy.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* Blog mynd */
.blog-dummy {
    background-image: url(../img/blog_dummy.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 150vh;
}

/* Sign mynd */
.signin-dummy {
    background-image: url(../img/signin_dummy.png);
    background-size: contain;
    background-size: 100% 100vh;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

/* Fyrsta media query kemur þegar fyrsti vörugluggi fellur niður */
@media (max-width:1220px) {

    .voru-content,
    .other-content {
        flex-direction: column;
    }

    /* Röðun á efni í other content */
    .first {
        order: -2; /* Passa að þetta sé efst */
    }

    .second {
        order: -1; /* Passa að þetta koma á eftir first */
        padding-left: 0px; /* Fjarlægi padding svo textinn verðir eins og í third */
    }

    .third { 
        order: 1; /* Passa að þetta verða á eftir fourth, verði neðst */
    }

    .fourth {
        order: 0; /* Passa að þetta verði á eftir second */
    }

    
}

/* 600px er til að laga other content á forsíðu */
@media (max-width:600px) {
    .info {
      width: 100%;
    }
    /*.second, .third, .forth{
        padding-bottom: 350px;
    }*/
      /* Ásdís------laga mobile font*/
   h2.h2-centered {
     padding: 20px 0 15px; 
     font-size: 35px;  
    }
    .other-content {
        padding: 0;
    }
   h2.h2-normal  {
      font-size: 35px;  
    }
    p.info-text {
     font-size: 25px;    
    }
    .info {
     padding-bottom: 0;
    }
    .second,
    .third {
        margin-top: -300px;
    }
     /* Ásdís------laga mobile font*/
}
@media (max-width:500px) {
    /* Verið að staðsetja og breyta forsíðutexta á forsíðumynd */
    h1.front-title-text {
        font-size: 44px;
        line-height: 60px;
        margin-bottom: 35px;
        padding-top:40px;
    }

}